{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Edit Pin #{{ pin.title }}{% endblock %}

{% block body %}
<h1>Edit Pin #{{ pin.title }}</h1>
{{ form_start(form) }}

{{ form_widget(form) }}

<button type="submit">Modifier le Pin !</button>


{{ form_end(form) }}


{% endblock %}
