{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Home{% endblock %}

{% block body %}

<h1>{{ pins|length }} {{ pluralize(pins|length, 'Pin') }}</h1>

{% for pin in pins %}
    <article>
        <h2><a href="{{ path('app_pins_show', {'id' : pin.id }) }}">{{ pin.title }}</a></h2>
        <p>{{ pin.description|u.truncate(250, '...', false) }}</p>
        <p>Mis à jour le {{ pin.createdAt | date('Y/m/d à H:s')}}</p>
    </article>
{% else  %}
    <p>Pas de pins en vue !</p>
{% endfor %}

{% endblock %}
